.header {
  background-color: #E5E5E5;
}

.youtube-icon {
  padding-right: 10px;
}

.sort-button {
  padding-left: 10px;
}

.center-position {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 40%;
}

